{{ form_start(form) }}
    {{ form_row(form.slug) }}

    {% set formCollectionController = 'form-collection'%}
    <div
      data-controller="{{ formCollectionController }}"
      data-{{ formCollectionController }}-index-value="{{ form.rules|length > 0 ? form.rules|last.vars.name + 1 : 0 }}"
      data-{{ formCollectionController }}-prototype-value="{{ form_widget(form.rules.vars.prototype)|e('html_attr') }}"
    >
      <h3>Rules</h3>
      <ul
        data-{{ formCollectionController }}-target="collectionContainer"
      >
        {% for rule in form.rules %}
          <li>
            {{ form_row(rule) }}
          </li>
        {% endfor %}
      </ul>
      <button
        type="button"
        data-action="click->{{ formCollectionController }}#addCollectionElement"
      >Add +</button>
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
